<a href="https://colab.research.google.com/github/Globnsk/PYTHON/blob/main/Sem3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**Урок 3. Изменение таблиц в Pandas**

####**Задание 1.**
Считать данные с помощью pandas. Вывести на экран первые 5 строк.

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [5]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/kc_house_data.csv', quotechar='|')
df['floors'] = df['floors'].map(lambda x: x.lstrip('""').rstrip('""'))
df['date'] = df['date'].map(lambda x: x.lstrip('""').rstrip('""'))
df['zipcode'] = df['zipcode'].map(lambda x: x.lstrip('""').rstrip('""'))
df['id'] = df['id'].map(lambda x: x.lstrip('""'))
df['sqft_lot15'] = df['sqft_lot15'].map(lambda x: x.rstrip('""'))
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [60]:
df.id = df.id.astype(int)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                21613 non-null  int64
 1   date              21613 non-null  datetime64[ns]
 2   price             21613 non-null  float64
 3   bedrooms          21613 non-null  int64
 4   bathrooms         21613 non-null  float64
 5   sqft_living       21613 non-null  int64
 6   sqft_lot          21613 non-null  int64
 7   floors            21613 non-null  object
 8   waterfront        21613 non-null  int64
 9   view              21613 non-null  int64
 10  condition         21613 non-null  int64
 11  grade             21613 non-null  int64
 12  sqft_above        21613 non-null  int64
 13  sqft_basement     21613 non-null  int64
 14  yr_built          21613 non-null  int64
 15  yr_renovated      21613 non-null  int64
 16  zipcode           21613 non-null  object
 17  lat               21613 non-null  float64
 18  long              21613 non-null  float64
 19  sqft_living15     21613 non-null  int64
 20  sqft_lot15        21613 non-null  object
 21  price_per_sq_lot  21613 non-null  float64
 22  delta_renovated   21613 non-null  int64
 23  year              21613 non-null  int32
 24  month             21613 non-null  int32
dtypes: datetime64[ns](1), float64(5), int32(2), int64(14), object(3)
memory usage: 4.0+ MB

####**1.1. Создать новый признак price_per_sq_lot, который будет содержать среднюю стоимость за один кв. метр общей площади**

In [8]:
df['price_per_sq_lot'] =round(df['price'] / df['sqft_lot'],2)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,39.27
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,74.29
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,18.00
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,120.80
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,63.12

####**1.2. Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома.**
Если реновации дома не было, то в новом признаке поставьте 0.

In [12]:
df['delta_renovated'] = 0
df.loc[df['yr_renovated'] != 0, 'delta_renovated'] = df.yr_renovated - df.yr_built
df[['id','yr_built','yr_renovated','delta_renovated']].head()

           id  yr_built  yr_renovated  delta_renovated
0  7129300520      1955             0                0
1  6414100192      1951          1991               40
2  5631500400      1933             0                0
3  2487200875      1965             0                0
4  1954400510      1987             0                0

####**1.3. Создайте признаки года продажи, месяца продажи.**

In [13]:
df['date']= pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,year,month
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1,0,0,...,0,98178,47.5112,-122.257,1340,5650,39.27,0,2014,10
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2,0,0,...,1991,98125,47.7210,-122.319,1690,7639,74.29,40,2014,12
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1,0,0,...,0,98028,47.7379,-122.233,2720,8062,18.00,0,2015,2
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1,0,0,...,0,98136,47.5208,-122.393,1360,5000,120.80,0,2014,12
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1,0,0,...,0,98074,47.6168,-122.045,1800,7503,63.12,0,2015,2

####**1.4. Удалите признаки date, zipcode, lat, long**

In [14]:
#df.drop(['date','zipcode','lat','long'], axis=1, inplace=True)
df1 = df.drop(['date','zipcode','lat','long'], axis=1)
df1.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,year,month
0,7129300520,221900.0,3,1.00,1180,5650,1,0,0,3,...,1180,0,1955,0,1340,5650,39.27,0,2014,10
1,6414100192,538000.0,3,2.25,2570,7242,2,0,0,3,...,2170,400,1951,1991,1690,7639,74.29,40,2014,12
2,5631500400,180000.0,2,1.00,770,10000,1,0,0,3,...,770,0,1933,0,2720,8062,18.00,0,2015,2
3,2487200875,604000.0,4,3.00,1960,5000,1,0,0,5,...,1050,910,1965,0,1360,5000,120.80,0,2014,12
4,1954400510,510000.0,3,2.00,1680,8080,1,0,0,3,...,1680,0,1987,0,1800,7503,63.12,0,2015,2

###**Домашнее задание 2**

Создайте датафрейм с клиентами.

In [41]:
clients = pd.DataFrame({
    'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113,
                  4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050,
                 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150,
                 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210,
                 7731100066, 8146100580, 825069097, 3889100029, 9524100196]
})

clients.count()

client_id    32
house_id     32
dtype: int64

In [53]:
house_id = [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050,
                 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150,
                 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210,
                 7731100066, 8146100580, 825069097, 3889100029, 9524100196]

In [17]:
clients

    client_id    house_id
0        1459  8965450190
1        4684  6823100225
2        3498  5104540330
3        3942  2131701075
4        4535  1522700060
5        2308  1189000207
6        2866  6821600300
7        2765  7137950720
8        1472  9510920050
9        4236  6131600255
10       2295  5428000070
11        939  1788800910
12       3840  8100400160
13        280  3123049142
14         20  6306800010
15       4332  5083000375
16       3475  7920100025
17       4213  1951600150
18       3113   809001400
19       4809   339600110
20       2134  1622049154
21       2242  1099600250
22       2068  8563000110
23       4929  2768100205
24       1384  3995700435
25       1589  8861700030
26       3317  3303980210
27       2260  7731100066
28       1727  8146100580
29       1764   825069097
30       1611  3889100029
31       1474  9524100196

####**2.1. Присоедините к таблице clients данные по домам через метод join.**

In [62]:
clients_id = clients.set_index('house_id')
#clients_id
house = df.set_index('id')
house

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,year,month
id,,,,,,,,,,,,,,,,,,,,,
7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1,0,0,3,...,0,98178,47.5112,-122.257,1340,5650,39.27,0,2014,10
6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2,0,0,3,...,1991,98125,47.7210,-122.319,1690,7639,74.29,40,2014,12
5631500400,2015-02-25,180000.0,2,1.00,770,10000,1,0,0,3,...,0,98028,47.7379,-122.233,2720,8062,18.00,0,2015,2
2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1,0,0,5,...,0,98136,47.5208,-122.393,1360,5000,120.80,0,2014,12
1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1,0,0,3,...,0,98074,47.6168,-122.045,1800,7503,63.12,0,2015,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,2014-05-21,360000.0,3,2.50,1530,1131,3,0,0,3,...,0,98103,47.6993,-122.346,1530,1509,318.30,0,2014,5
6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2,0,0,3,...,0,98146,47.5107,-122.362,1830,7200,68.81,0,2015,2
1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2,0,0,3,...,0,98144,47.5944,-122.299,1020,2007,297.85,0,2014,6
291310100,2015-01-16,400000.0,3,2.50,1600,2388,2,0,0,3,...,0,98027,47.5345,-122.069,1410,1287,167.50,0,2015,1
1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2,0,0,3,...,0,98144,47.5941,-122.299,1020,1357,302.04,0,2014,10

In [64]:
# df.id = df.id.astype(int)
ddf = house[house.index.isin(house_id)]
#new_df = df[df.index.isin(list_of_indices)]
ddf

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,year,month
id,,,,,,,,,,,,,,,,,,,,,
8100400160,2015-04-13,700000.0,3,2.25,2330,11424,2,0,0,4,...,0,98052,47.6386,-122.110,2050,11448,61.27,0,2015,4
7920100025,2015-04-27,450000.0,2,1.00,740,5100,1,0,0,4,...,0,98115,47.6787,-122.301,920,5100,88.24,0,2015,4
825069097,2014-06-19,770000.0,3,2.50,2650,40705,2,0,0,3,...,0,98053,47.6680,-122.063,2550,42625,18.92,0,2014,6
5083000375,2014-10-27,170000.0,3,1.00,1310,9529,1,0,0,3,...,0,98198,47.4105,-122.295,1330,9529,17.84,0,2014,10
5083000375,2015-03-19,235000.0,3,1.00,1310,9529,1,0,0,3,...,0,98198,47.4105,-122.295,1330,9529,24.66,0,2015,3
339600110,2014-09-23,395000.0,3,2.50,1610,3755,2,0,0,3,...,0,98052,47.6825,-122.097,1300,3823,105.19,0,2014,9
6821600300,2015-03-18,886000.0,3,2.25,2380,6000,2,0,0,5,...,0,98199,47.6472,-122.393,2000,6000,147.67,0,2015,3
1099600250,2014-12-02,260000.0,3,1.75,1710,6400,1,0,0,4,...,0,98023,47.3036,-122.377,1600,6400,40.62,0,2014,12
3889100029,2014-06-17,810000.0,3,2.50,2670,10481,2,0,0,3,...,0,98033,47.6673,-122.176,2620,8895,77.28,0,2014,6
3123049142,2014-08-05,452000.0,3,2.25,2600,14810,1,0,2,4,...,0,98166,47.4326,-122.341,2450,16715,30.52,0,2014,8
8965450190,2015-02-18,295000.0,3,2.50,1500,3060,2,0,0,3,...,0,98006,47.5605,-122.117,2700,7734,96.41,0,2015,2
7731100066,2014-06-12,545000.0,3,1.00,1510,5000,1.5,0,0,3,...,0,98105,47.6708,-122.297,1680,4000,109.00,0,2014,6
5104540330,2015-05-08,679000.0,4,2.50,3680,7236,2,0,0,3,...,0,98038,47.3543,-122.005,3310,7180,93.84,0,2015,5
1189000207,2014-10-21,387000.0,2,2.50,1170,1394,2,0,0,3,...,0,98122,47.6131,-122.297,1250,3136,277.62,0,2014,10
1622049154,2014-12-15,289900.0,3,1.75,1899,11325,2,0,0,3,...,2005,98198,47.3987,-122.300,2000,10454,25.60,62,2014,12
809001400,2014-09-22,925000.0,3,1.00,1630,3200,1.5,0,0,4,...,0,98109,47.6351,-122.352,1710,3600,289.06,0,2014,9
8861700030,2014-12-12,510000.0,3,1.50,2400,10275,1,0,0,4,...,0,98052,47.6888,-122.126,2380,10125,49.64,0,2014,12
1522700060,2014-06-24,518000.0,4,2.75,2520,14021,2,0,0,3,...,0,98019,47.7344,-121.957,2330,14007,36.94,0,2014,6
3995700435,2014-07-02,265000.0,4,3.00,1940,8170,1,0,0,4,...,0,98155,47.7381,-122.302,1310,8169,32.44,0,2014,7
1788800910,2014-10-20,190000.0,3,1.00,1200,10458,1,0,0,4,...,0,98023,47.3262,-122.342,1160,9000,18.17,0,2014,10
1951600150,2015-04-08,180000.0,3,1.00,1610,8500,1.5,0,0,3,...,0,98032,47.3717,-122.297,1070,8750,21.18,0,2015,4
2131701075,2014-12-04,420000.0,3,1.75,1720,5000,1.5,0,0,3,...,2009,98019,47.7380,-121.983,1410,8300,84.00,77,2014,12
8146100580,2014-10-20,765000.0,3,1.00,1220,7585,1,0,0,4,...,0,98004,47.6094,-122.194,1380,8918,100.86,0,2014,10
7137950720,2015-03-04,339100.0,4,2.50,2350,10655,2,0,0,3,...,0,98092,47.3284,-122.171,2210,7028,31.83,0,2015,3
6823100225,2015-04-14,700000.0,4,1.75,1870,6000,1,0,0,5,...,0,98199,47.6435,-122.399,1710,6000,116.67,0,2015,4
6131600255,2014-12-22,202500.0,3,2.00,1540,8316,1,0,0,5,...,0,98002,47.3230,-122.216,1250,8316,24.35,0,2014,12
9510920050,2014-09-02,725000.0,3,2.50,2980,16996,2,0,0,3,...,0,98075,47.5950,-122.016,2980,15438,42.66,0,2014,9
8563000110,2015-04-24,427000.0,4,1.75,1460,9750,1,0,0,4,...,0,98008,47.6205,-122.102,1820,9840,43.79,0,2015,4
3303980210,2015-04-27,1115000.0,4,3.75,4040,14212,2,0,0,3,...,0,98059,47.5189,-122.147,3940,14212,78.45,0,2015,4
2768100205,2014-06-25,519000.0,4,2.50,1950,2617,1.5,0,0,4,...,0,98107,47.6696,-122.372,1520,1438,198.32,0,2014,6
6306800010,2014-08-11,436472.0,4,2.50,2692,8392,2,0,0,3,...,0,98030,47.3519,-122.197,2574,14446,52.01,0,2014,8
5428000070,2015-05-11,770000.0,5,3.50,4750,8234,2,0,2,3,...,0,98198,47.3574,-122.318,2160,14496,93.51,0,2015,5
9524100196,2014-11-17,239000.0,2,1.50,680,772,2,0,0,3,...,0,98103,47.6950,-122.343,690,1059,309.59,0,2014,11

In [73]:
df_join = clients_id.join(house)
df_join
# df_join.sort_values('client_id')

,client_id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,year,month
house_id,,,,,,,,,,,,,,,,,,,,,
339600110,4809,2014-09-23,395000.0,3,2.50,1610,3755,2,0,0,...,0,98052,47.6825,-122.097,1300,3823,105.19,0,2014,9
809001400,3113,2014-09-22,925000.0,3,1.00,1630,3200,1.5,0,0,...,0,98109,47.6351,-122.352,1710,3600,289.06,0,2014,9
825069097,1764,2014-06-19,770000.0,3,2.50,2650,40705,2,0,0,...,0,98053,47.6680,-122.063,2550,42625,18.92,0,2014,6
1099600250,2242,2014-12-02,260000.0,3,1.75,1710,6400,1,0,0,...,0,98023,47.3036,-122.377,1600,6400,40.62,0,2014,12
1189000207,2308,2014-10-21,387000.0,2,2.50,1170,1394,2,0,0,...,0,98122,47.6131,-122.297,1250,3136,277.62,0,2014,10
1522700060,4535,2014-06-24,518000.0,4,2.75,2520,14021,2,0,0,...,0,98019,47.7344,-121.957,2330,14007,36.94,0,2014,6
1622049154,2134,2014-12-15,289900.0,3,1.75,1899,11325,2,0,0,...,2005,98198,47.3987,-122.300,2000,10454,25.60,62,2014,12
1788800910,939,2014-10-20,190000.0,3,1.00,1200,10458,1,0,0,...,0,98023,47.3262,-122.342,1160,9000,18.17,0,2014,10
1951600150,4213,2015-04-08,180000.0,3,1.00,1610,8500,1.5,0,0,...,0,98032,47.3717,-122.297,1070,8750,21.18,0,2015,4
2131701075,3942,2014-12-04,420000.0,3,1.75,1720,5000,1.5,0,0,...,2009,98019,47.7380,-121.983,1410,8300,84.00,77,2014,12
2768100205,4929,2014-06-25,519000.0,4,2.50,1950,2617,1.5,0,0,...,0,98107,47.6696,-122.372,1520,1438,198.32,0,2014,6
3123049142,280,2014-08-05,452000.0,3,2.25,2600,14810,1,0,2,...,0,98166,47.4326,-122.341,2450,16715,30.52,0,2014,8
3303980210,3317,2015-04-27,1115000.0,4,3.75,4040,14212,2,0,0,...,0,98059,47.5189,-122.147,3940,14212,78.45,0,2015,4
3889100029,1611,2014-06-17,810000.0,3,2.50,2670,10481,2,0,0,...,0,98033,47.6673,-122.176,2620,8895,77.28,0,2014,6
3995700435,1384,2014-07-02,265000.0,4,3.00,1940,8170,1,0,0,...,0,98155,47.7381,-122.302,1310,8169,32.44,0,2014,7
5083000375,4332,2014-10-27,170000.0,3,1.00,1310,9529,1,0,0,...,0,98198,47.4105,-122.295,1330,9529,17.84,0,2014,10
5083000375,4332,2015-03-19,235000.0,3,1.00,1310,9529,1,0,0,...,0,98198,47.4105,-122.295,1330,9529,24.66,0,2015,3
5104540330,3498,2015-05-08,679000.0,4,2.50,3680,7236,2,0,0,...,0,98038,47.3543,-122.005,3310,7180,93.84,0,2015,5
5428000070,2295,2015-05-11,770000.0,5,3.50,4750,8234,2,0,2,...,0,98198,47.3574,-122.318,2160,14496,93.51,0,2015,5
6131600255,4236,2014-12-22,202500.0,3,2.00,1540,8316,1,0,0,...,0,98002,47.3230,-122.216,1250,8316,24.35,0,2014,12
6306800010,20,2014-08-11,436472.0,4,2.50,2692,8392,2,0,0,...,0,98030,47.3519,-122.197,2574,14446,52.01,0,2014,8
6821600300,2866,2015-03-18,886000.0,3,2.25,2380,6000,2,0,0,...,0,98199,47.6472,-122.393,2000,6000,147.67,0,2015,3
6823100225,4684,2015-04-14,700000.0,4,1.75,1870,6000,1,0,0,...,0,98199,47.6435,-122.399,1710,6000,116.67,0,2015,4
7137950720,2765,2015-03-04,339100.0,4,2.50,2350,10655,2,0,0,...,0,98092,47.3284,-122.171,2210,7028,31.83,0,2015,3
7731100066,2260,2014-06-12,545000.0,3,1.00,1510,5000,1.5,0,0,...,0,98105,47.6708,-122.297,1680,4000,109.00,0,2014,6
7920100025,3475,2015-04-27,450000.0,2,1.00,740,5100,1,0,0,...,0,98115,47.6787,-122.301,920,5100,88.24,0,2015,4
8100400160,3840,2015-04-13,700000.0,3,2.25,2330,11424,2,0,0,...,0,98052,47.6386,-122.110,2050,11448,61.27,0,2015,4
8146100580,1727,2014-10-20,765000.0,3,1.00,1220,7585,1,0,0,...,0,98004,47.6094,-122.194,1380,8918,100.86,0,2014,10
8563000110,2068,2015-04-24,427000.0,4,1.75,1460,9750,1,0,0,...,0,98008,47.6205,-122.102,1820,9840,43.79,0,2015,4
8861700030,1589,2014-12-12,510000.0,3,1.50,2400,10275,1,0,0,...,0,98052,47.6888,-122.126,2380,10125,49.64,0,2014,12
8965450190,1459,2015-02-18,295000.0,3,2.50,1500,3060,2,0,0,...,0,98006,47.5605,-122.117,2700,7734,96.41,0,2015,2
9510920050,1472,2014-09-02,725000.0,3,2.50,2980,16996,2,0,0,...,0,98075,47.5950,-122.016,2980,15438,42.66,0,2014,9
9524100196,1474,2014-11-17,239000.0,2,1.50,680,772,2,0,0,...,0,98103,47.6950,-122.343,690,1059,309.59,0,2014,11

In [78]:
df_join = df_join.reset_index()
df_join

,house_id,client_id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,year,month,A
0,339600110,4809,2014-09-23,395000.0,3,2.50,1610,3755,2,0,...,98052,47.6825,-122.097,1300,3823,105.19,0,2014,9,0
1,809001400,3113,2014-09-22,925000.0,3,1.00,1630,3200,1.5,0,...,98109,47.6351,-122.352,1710,3600,289.06,0,2014,9,1
2,825069097,1764,2014-06-19,770000.0,3,2.50,2650,40705,2,0,...,98053,47.6680,-122.063,2550,42625,18.92,0,2014,6,2
3,1099600250,2242,2014-12-02,260000.0,3,1.75,1710,6400,1,0,...,98023,47.3036,-122.377,1600,6400,40.62,0,2014,12,3
4,1189000207,2308,2014-10-21,387000.0,2,2.50,1170,1394,2,0,...,98122,47.6131,-122.297,1250,3136,277.62,0,2014,10,4
5,1522700060,4535,2014-06-24,518000.0,4,2.75,2520,14021,2,0,...,98019,47.7344,-121.957,2330,14007,36.94,0,2014,6,5
6,1622049154,2134,2014-12-15,289900.0,3,1.75,1899,11325,2,0,...,98198,47.3987,-122.300,2000,10454,25.60,62,2014,12,6
7,1788800910,939,2014-10-20,190000.0,3,1.00,1200,10458,1,0,...,98023,47.3262,-122.342,1160,9000,18.17,0,2014,10,7
8,1951600150,4213,2015-04-08,180000.0,3,1.00,1610,8500,1.5,0,...,98032,47.3717,-122.297,1070,8750,21.18,0,2015,4,8
9,2131701075,3942,2014-12-04,420000.0,3,1.75,1720,5000,1.5,0,...,98019,47.7380,-121.983,1410,8300,84.00,77,2014,12,9
10,2768100205,4929,2014-06-25,519000.0,4,2.50,1950,2617,1.5,0,...,98107,47.6696,-122.372,1520,1438,198.32,0,2014,6,10
11,3123049142,280,2014-08-05,452000.0,3,2.25,2600,14810,1,0,...,98166,47.4326,-122.341,2450,16715,30.52,0,2014,8,11
12,3303980210,3317,2015-04-27,1115000.0,4,3.75,4040,14212,2,0,...,98059,47.5189,-122.147,3940,14212,78.45,0,2015,4,12
13,3889100029,1611,2014-06-17,810000.0,3,2.50,2670,10481,2,0,...,98033,47.6673,-122.176,2620,8895,77.28,0,2014,6,13
14,3995700435,1384,2014-07-02,265000.0,4,3.00,1940,8170,1,0,...,98155,47.7381,-122.302,1310,8169,32.44,0,2014,7,14
15,5083000375,4332,2014-10-27,170000.0,3,1.00,1310,9529,1,0,...,98198,47.4105,-122.295,1330,9529,17.84,0,2014,10,15
16,5083000375,4332,2015-03-19,235000.0,3,1.00,1310,9529,1,0,...,98198,47.4105,-122.295,1330,9529,24.66,0,2015,3,16
17,5104540330,3498,2015-05-08,679000.0,4,2.50,3680,7236,2,0,...,98038,47.3543,-122.005,3310,7180,93.84,0,2015,5,17
18,5428000070,2295,2015-05-11,770000.0,5,3.50,4750,8234,2,0,...,98198,47.3574,-122.318,2160,14496,93.51,0,2015,5,18
19,6131600255,4236,2014-12-22,202500.0,3,2.00,1540,8316,1,0,...,98002,47.3230,-122.216,1250,8316,24.35,0,2014,12,19
20,6306800010,20,2014-08-11,436472.0,4,2.50,2692,8392,2,0,...,98030,47.3519,-122.197,2574,14446,52.01,0,2014,8,20
21,6821600300,2866,2015-03-18,886000.0,3,2.25,2380,6000,2,0,...,98199,47.6472,-122.393,2000,6000,147.67,0,2015,3,21
22,6823100225,4684,2015-04-14,700000.0,4,1.75,1870,6000,1,0,...,98199,47.6435,-122.399,1710,6000,116.67,0,2015,4,22
23,7137950720,2765,2015-03-04,339100.0,4,2.50,2350,10655,2,0,...,98092,47.3284,-122.171,2210,7028,31.83,0,2015,3,23
24,7731100066,2260,2014-06-12,545000.0,3,1.00,1510,5000,1.5,0,...,98105,47.6708,-122.297,1680,4000,109.00,0,2014,6,24
25,7920100025,3475,2015-04-27,450000.0,2,1.00,740,5100,1,0,...,98115,47.6787,-122.301,920,5100,88.24,0,2015,4,25
26,8100400160,3840,2015-04-13,700000.0,3,2.25,2330,11424,2,0,...,98052,47.6386,-122.110,2050,11448,61.27,0,2015,4,26
27,8146100580,1727,2014-10-20,765000.0,3,1.00,1220,7585,1,0,...,98004,47.6094,-122.194,1380,8918,100.86,0,2014,10,27
28,8563000110,2068,2015-04-24,427000.0,4,1.75,1460,9750,1,0,...,98008,47.6205,-122.102,1820,9840,43.79,0,2015,4,28
29,8861700030,1589,2014-12-12,510000.0,3,1.50,2400,10275,1,0,...,98052,47.6888,-122.126,2380,10125,49.64,0,2014,12,29
30,8965450190,1459,2015-02-18,295000.0,3,2.50,1500,3060,2,0,...,98006,47.5605,-122.117,2700,7734,96.41,0,2015,2,30
31,9510920050,1472,2014-09-02,725000.0,3,2.50,2980,16996,2,0,...,98075,47.5950,-122.016,2980,15438,42.66,0,2014,9,31
32,9524100196,1474,2014-11-17,239000.0,2,1.50,680,772,2,0,...,98103,47.6950,-122.343,690,1059,309.59,0,2014,11,32

####**2.2 Присоедините к таблице clients данные по домам через метод merge**

In [79]:
df_merge = clients.merge(df, left_on='house_id', right_on='id')
df_merge.sort_values(['client_id','house_id'])

,client_id,house_id,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated,year,month
14,20,6306800010,6306800010,2014-08-11,436472.0,4,2.50,2692,8392,2,...,0,98030,47.3519,-122.197,2574,14446,52.01,0,2014,8
13,280,3123049142,3123049142,2014-08-05,452000.0,3,2.25,2600,14810,1,...,0,98166,47.4326,-122.341,2450,16715,30.52,0,2014,8
11,939,1788800910,1788800910,2014-10-20,190000.0,3,1.00,1200,10458,1,...,0,98023,47.3262,-122.342,1160,9000,18.17,0,2014,10
25,1384,3995700435,3995700435,2014-07-02,265000.0,4,3.00,1940,8170,1,...,0,98155,47.7381,-122.302,1310,8169,32.44,0,2014,7
0,1459,8965450190,8965450190,2015-02-18,295000.0,3,2.50,1500,3060,2,...,0,98006,47.5605,-122.117,2700,7734,96.41,0,2015,2
8,1472,9510920050,9510920050,2014-09-02,725000.0,3,2.50,2980,16996,2,...,0,98075,47.5950,-122.016,2980,15438,42.66,0,2014,9
32,1474,9524100196,9524100196,2014-11-17,239000.0,2,1.50,680,772,2,...,0,98103,47.6950,-122.343,690,1059,309.59,0,2014,11
26,1589,8861700030,8861700030,2014-12-12,510000.0,3,1.50,2400,10275,1,...,0,98052,47.6888,-122.126,2380,10125,49.64,0,2014,12
31,1611,3889100029,3889100029,2014-06-17,810000.0,3,2.50,2670,10481,2,...,0,98033,47.6673,-122.176,2620,8895,77.28,0,2014,6
29,1727,8146100580,8146100580,2014-10-20,765000.0,3,1.00,1220,7585,1,...,0,98004,47.6094,-122.194,1380,8918,100.86,0,2014,10
30,1764,825069097,825069097,2014-06-19,770000.0,3,2.50,2650,40705,2,...,0,98053,47.6680,-122.063,2550,42625,18.92,0,2014,6
23,2068,8563000110,8563000110,2015-04-24,427000.0,4,1.75,1460,9750,1,...,0,98008,47.6205,-122.102,1820,9840,43.79,0,2015,4
21,2134,1622049154,1622049154,2014-12-15,289900.0,3,1.75,1899,11325,2,...,2005,98198,47.3987,-122.300,2000,10454,25.60,62,2014,12
22,2242,1099600250,1099600250,2014-12-02,260000.0,3,1.75,1710,6400,1,...,0,98023,47.3036,-122.377,1600,6400,40.62,0,2014,12
28,2260,7731100066,7731100066,2014-06-12,545000.0,3,1.00,1510,5000,1.5,...,0,98105,47.6708,-122.297,1680,4000,109.00,0,2014,6
10,2295,5428000070,5428000070,2015-05-11,770000.0,5,3.50,4750,8234,2,...,0,98198,47.3574,-122.318,2160,14496,93.51,0,2015,5
5,2308,1189000207,1189000207,2014-10-21,387000.0,2,2.50,1170,1394,2,...,0,98122,47.6131,-122.297,1250,3136,277.62,0,2014,10
7,2765,7137950720,7137950720,2015-03-04,339100.0,4,2.50,2350,10655,2,...,0,98092,47.3284,-122.171,2210,7028,31.83,0,2015,3
6,2866,6821600300,6821600300,2015-03-18,886000.0,3,2.25,2380,6000,2,...,0,98199,47.6472,-122.393,2000,6000,147.67,0,2015,3
19,3113,809001400,809001400,2014-09-22,925000.0,3,1.00,1630,3200,1.5,...,0,98109,47.6351,-122.352,1710,3600,289.06,0,2014,9
27,3317,3303980210,3303980210,2015-04-27,1115000.0,4,3.75,4040,14212,2,...,0,98059,47.5189,-122.147,3940,14212,78.45,0,2015,4
17,3475,7920100025,7920100025,2015-04-27,450000.0,2,1.00,740,5100,1,...,0,98115,47.6787,-122.301,920,5100,88.24,0,2015,4
2,3498,5104540330,5104540330,2015-05-08,679000.0,4,2.50,3680,7236,2,...,0,98038,47.3543,-122.005,3310,7180,93.84,0,2015,5
12,3840,8100400160,8100400160,2015-04-13,700000.0,3,2.25,2330,11424,2,...,0,98052,47.6386,-122.110,2050,11448,61.27,0,2015,4
3,3942,2131701075,2131701075,2014-12-04,420000.0,3,1.75,1720,5000,1.5,...,2009,98019,47.7380,-121.983,1410,8300,84.00,77,2014,12
18,4213,1951600150,1951600150,2015-04-08,180000.0,3,1.00,1610,8500,1.5,...,0,98032,47.3717,-122.297,1070,8750,21.18,0,2015,4
9,4236,6131600255,6131600255,2014-12-22,202500.0,3,2.00,1540,8316,1,...,0,98002,47.3230,-122.216,1250,8316,24.35,0,2014,12
15,4332,5083000375,5083000375,2014-10-27,170000.0,3,1.00,1310,9529,1,...,0,98198,47.4105,-122.295,1330,9529,17.84,0,2014,10
16,4332,5083000375,5083000375,2015-03-19,235000.0,3,1.00,1310,9529,1,...,0,98198,47.4105,-122.295,1330,9529,24.66,0,2015,3
4,4535,1522700060,1522700060,2014-06-24,518000.0,4,2.75,2520,14021,2,...,0,98019,47.7344,-121.957,2330,14007,36.94,0,2014,6
1,4684,6823100225,6823100225,2015-04-14,700000.0,4,1.75,1870,6000,1,...,0,98199,47.6435,-122.399,1710,6000,116.67,0,2015,4
20,4809,339600110,339600110,2014-09-23,395000.0,3,2.50,1610,3755,2,...,0,98052,47.6825,-122.097,1300,3823,105.19,0,2014,9
24,4929,2768100205,2768100205,2014-06-25,519000.0,4,2.50,1950,2617,1.5,...,0,98107,47.6696,-122.372,1520,1438,198.32,0,2014,6

####**Задание 3. Составьте несколько сводных таблиц.**
Для дальнейшего анализа и получения корректных результатов необходимо очистить данные от дублей.

#####**3.1. Найдите среднюю стоимость домов в зависимости от количества спален. Отсортируйте от меньшей стоимости к большей.**

In [80]:
df.pivot_table(
    index = 'bedrooms',
    values = 'price',
    aggfunc = 'mean'
).round({'price':1}).sort_values('price')

              price
bedrooms
1          317642.9
2          401372.7
0          409503.8
3          466232.1
11         520000.0
4          635419.5
33         640000.0
5          786599.8
10         819333.3
6          825520.6
9          893999.8
7          951184.7
8         1105076.9

####**3.2. Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома**

In [83]:
df.pivot_table(index = 'condition',aggfunc = {'price': ['min', 'mean', 'max']}).round({('price',  'min'):1, ('price', 'mean'):1, ('price',  'max'):1})

               price
                 max      mean       min
condition
1          1500000.0  334431.7   78000.0
2          2555000.0  327287.1   80000.0
3          7062500.0  542012.6   75000.0
4          7700000.0  521200.4   89000.0
5          3650000.0  612418.1  110000.0

####**3.3. Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида.**

In [82]:
df.pivot_table(index='waterfront',columns='view',values='id',aggfunc='count', fill_value = '--')

view            0    1    2    3    4
waterfront
0           19489  331  955  491  184
1              --    1    8   19  135

####**3.4. Каких домов в зависимости от этажности и количества спален больше?**

In [84]:
def red_max(x):
    return np.where(x == np.max(x.to_numpy()), f"color: red ;", None)


df.pivot_table(
    index='floors',
    columns='bedrooms',
    values='id',
    aggfunc='count',
    fill_value = 0
).style.apply(red_max, axis=None)

####**3.5. Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома.**

In [85]:
df.pivot_table(index='grade',columns='condition',values='price',aggfunc='median',fill_value = '-')

condition         1          2          3          4          5
grade
1          142000.0          -          -          -          -
3                 -   280000.0    75000.0          -   262000.0
4          150000.0   145000.0   205000.0   238525.0          -
5          190000.0   180000.0   234475.0   229975.0   227450.0
6          255000.0   235000.0   265000.0   295000.0   285475.0
7          403500.0   305000.0   357500.0   390000.0   456000.0
8          932500.0   429000.0   485000.0   571250.0   696000.0
9                 -   715000.0   689000.0   823500.0  1078000.0
10                -  1752500.0   890000.0  1030000.0  1650000.0
11                -          -  1209500.0  1685000.0  2050000.0
12                -          -  1807500.0  2125000.0  1990000.0
13                -          -  2888000.0  5750000.0          -